In [3]:
a = ["banana" , "apple", "microsoft"]

In [2]:
print(a[0])
print(a[1])
print(a[2])

banana
apple
microsoft

In [3]:
#time consuming to do 
#so for all the for loop
for element in a:
    print(element)

banana
apple
microsoft

In [4]:
# each element gets printed twice
for element in a:
    print(element)
    print(element)

banana
banana
apple
apple
microsoft
microsoft

In [6]:
#we can use anything in place of element
b= [20, 10, 5]
for element in b:
    print(element)

20
10
5

In [3]:
c = [10,20,30]
total = 0
for e in c:
    total = total + e

In [4]:
print(total)

60

In [7]:
#listing the numbers from 1 to 10 
print(list(range(1, 11)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
#sum of 5 numbers 
total=0
for a in range(1,6):
    total=total + a
print(total)

15

In [9]:
#for total=total + a we can write it in better way
total = 0
for a in range(1,6):
    total +=a
print(total)

15

In [1]:
#finding the sum of number of multiple of 3 in 1 to 7 numbers

In [2]:
total = 0
for a in range(1,8):
    if a%3 == 0:
        total +=a
print(total," is total addition of numbers of multiple of 3 in",range(1,8))

9  is total addition of numbers of multiple of 3 in range(1, 8)

In [5]:
#compute all the multiples of 3 and 5 
#that are less than 100
total = 0
list1 = []
for a in range(1,100):
    if a%3 == 0 or a%5 == 0:
        list1.append(a)
        total += a
print(list1)
print("these all listed numbers are multiple of 3 and 5")
print("\nfinal sum:-->")
print(total)

[3, 5, 6, 9, 10, 12, 15, 18, 20, 21, 24, 25, 27, 30, 33, 35, 36, 39, 40, 42, 45, 48, 50, 51, 54, 55, 57, 60, 63, 65, 66, 69, 70, 72, 75, 78, 80, 81, 84, 85, 87, 90, 93, 95, 96, 99]
these all listed numbers are multiple of 3 and 5

final sum:-->
2318