In [ ]:
#write petrol pump function
y = 0
def petrol_pump(x):
    y = x * 10000
    return y

In [ ]:
a = petrol_pump(9)

In [ ]:
print(a)

In [ ]:
#write petrol pump function
y = 0
def petrol_pump(x):
    y = x * 80
    return y

In [ ]:
b = petrol_pump(6)

In [ ]:
print(b)

In [ ]:
# using range operator
petrol = 0
for petrol in range(1,11):
    total =petrol * 80
    return total

In [ ]:
# using range operator
petrol = 0
for petrol in range(1,11):
    total =petrol * 80
    print(total)

In [ ]:
# sawp 2 variables 
v1 = 10
v2 = 20

temp = v1
v1 = v2
v2 = temp

print(v1)
print(v2)
print(temp)

In [ ]:
#bmi calcuator
def bmi(name,weight_kg,height_m):
    print(input(name,weight,height))
    bmi = weight_kg / (height_m ** 2)
    print(bmi)
    return bmi

In [ ]:
a = bmi(60,1.52)

In [ ]:
#bmi calcuator
name = rajat
def bmi(name,weight_kg,height_m):
    print(input(name,weight,height))
    bmi = weight_kg / (height_m ** 2)
    print(bmi)
    return bmi

In [ ]:
a = bmi(rajat,60,1.52)

In [ ]:
#bmi calcuator
name111 = rajat
def bmi(name111,weight_kg,height_m):
    print(input(name111,weight,height))
    bmi = weight_kg / (height_m ** 2)
    print(bmi)
    return bmi

In [ ]:
#convert mile to km
def km(mile):
    km = mile*1.60934
    print(mile, "is equal to ", km)
    return km

In [ ]:
a = km(1)

In [ ]:
print(a)

In [ ]:
#convert mile to km
def km(mile):
    km = mile*1.60934
    print(mile, " miles is equal to ", km ,"kms")
    return km

In [ ]:
 b = km(9)
print(b)

In [ ]:
#list starting
a = [1,4,8,9,15]
list(a)
print(a)

In [ ]:
a.append("hi")

In [ ]:
print(a)

In [ ]:
#exercise time
b= ["banana" ," apple" ,"microsoft"]
# task:- swap the first value to the last value of b

In [ ]:
temp = b[0]
b[0] = b[2]
b[2] = temp
print(b)

In [ ]:
a = ["banana" , "apple", "microsoft"]
# to print all

In [ ]:
for c in a:
    print(c)

In [ ]:
#remember element in a
#sum of 5 numbers
for a in range(1,6):
    total += a
    print(total)

In [ ]:
#remember element in a
#sum of 5 numbers
for a in range(1,6):
    total += a
    print(total)

In [ ]:
#remember element in a
#sum of 5 numbers
total = 0
for z in range(1,6):
    total += z
print(total)

In [ ]:
#finding the sum of number of multiple of 3 in 1 to 7 numbers
sum = 0
list = []
for a in range(1,100):
    if a % 3 == 0 and a % 6 == 0:
        sum += a
        list.append(a)
print(list)
print("total", sum )

In [2]:
#add numbers from 1 to 5
total = 0
j = 1
while j < 5:
    total += j
    j += 1
print(total)

10

In [17]:
#while is more difficuilt 
given_list = [5, 4, 4, 3, 1, -2, -3, -5]
i = 0
total = 0
while len(given_list) < 9:
    if given_list[i] >= 0:
        total += given_list[i]
    i += 1
print(total)

IndexError: list index out of range