In [1]:
# a collection of instructions
# a collection of code
def function1():
    print("This is inside the function")
    print("will only run when the function is called")
print("This is outside function")
print("will always run as it is outside the function")

This is outside function
will always run as it is outside the function

In [2]:
function1()

This is inside the function
will only run when the function is called

In [3]:
# mapping a function(input or an arrgument)
def function2(x):
    return 2*x

In [4]:
a = function2(3)

In [5]:
print(a)

6

In [6]:
b = function2(5)
print(b)

10

In [7]:
c= function2(10)
print(c)

20

In [8]:
d = function2()

TypeError: function2() missing 1 required positional argument: 'x'

In [9]:
# we passed 1 argument through the function 
#now we will try to pass the multiple arguments
def function3(x,y):
    return x + y

In [10]:
e = function3(3,7)
print(e)

10

In [11]:
def function4(x):
    print(x)
    print("still in this function")
    return 3*x

In [12]:
f = function4(4)

4
still in this function

In [13]:
print(f)

12

In [14]:
def function5(some_argument):
    print(some_argument)
    print("hiiiiii")

In [15]:
function5(4)

4
hiiiiii

In [17]:
def function6(x):
    print(x)
    print("still in this function")
    x = x + 3
    return 3*x

In [18]:
g = function6(4)
print(g)

4
still in this function
21

In [19]:
def function7(x):
    print(x)
    print("still in this function")
    x = x + 3
    return 3*x

In [21]:
x = 4
h = function7(x)
print(x)
print(h)

4
still in this function
4
21

In [2]:
# bmi calculator 
name1 = "payal shah"
weight_kg3 = 55
height_m3 = 1.52

name2 = "shital jumbad"
weight4 = 58
height4 = 1.52

def bmi_calculator(name,weight_kg,height_m):
    bmi = weight_kg / (height_m ** 2)
    print("bmi is: ")
    print(bmi)
    if bmi < 25:
        return name + " is not overweight"
    else:
        return name + " is overweight"
    
result1 = bmi_calculator(name1, weight_kg3, height_m3)
result2 = bmi_calculator(name2, weight4, height4)
print(result1)
print(result2)

bmi is:
23.80540166204986
bmi is:
25.10387811634349
payal shah is not overweight
shital jumbad is overweight

In [1]:
def convert(mile):
    km = mile*1.60934
    print(mile)
    print("miles is equal to")
    return km

In [2]:
print(convert(10))

10
miles is equal to
16.0934

In [4]:
#small modification
def convert(mile):
    km = mile*1.60934
    print(mile,"miles is equal to")
    return km,'kms'

In [5]:
print(convert(90))

90 miles is equal to
(144.8406, 'kms')

In [1]:
#another self example for calculating cost of petrol
def petrol_pump(petrol):
    rupees = petrol*80.79
    print("for",petrol,'liter petrol pay',rupees,"rupees")
    return rupees

In [2]:
a = petrol_pump(2)

for 2 liter petrol pay 161.58 rupees

In [4]:
#sum of 10 numbers 
total=0
for petrol in range(1,11):
    rupees = petrol*80.79
    print("for ",petrol,"liters of petrol pay ",rupees)
total = total + rupees
print("final total amount",total,"rs")

for  1 liters of petrol pay  80.79
for  2 liters of petrol pay  161.58
for  3 liters of petrol pay  242.37
for  4 liters of petrol pay  323.16
for  5 liters of petrol pay  403.95000000000005
for  6 liters of petrol pay  484.74
for  7 liters of petrol pay  565.5300000000001
for  8 liters of petrol pay  646.32
for  9 liters of petrol pay  727.11
for  10 liters of petrol pay  807.9000000000001
final total amount 807.9000000000001 rs

In [5]:
#to round off the values
#sum of 10 numbers 
total=0
for petrol in range(1,11):
    rupees = petrol*80.79
    print("for",petrol,"liter pay",round(rupees),"rs")
total = total + rupees
print("final amount :--->",(round(rupees)),"rs")

for 1 liter pay 81 rs
for 2 liter pay 162 rs
for 3 liter pay 242 rs
for 4 liter pay 323 rs
for 5 liter pay 404 rs
for 6 liter pay 485 rs
for 7 liter pay 566 rs
for 8 liter pay 646 rs
for 9 liter pay 727 rs
for 10 liter pay 808 rs
final amount :---> 808 rs

In [6]:
#see how to print limited number of results in 1 page