In [1]:
#1)we want the rounded off digits
#2)we want cost for each  liter of petrol for ex:- 1 to 10; 10 to 20
#3)we want only 10 results on 1 page

In [2]:
#another self example for calculating cost of petrol
def petrol_pump(petrol):
    rupees = petrol*80.79
    print("for",petrol,'liter petrol pay',rupees,"rupees")
    return rupees

In [3]:
print(petrol_pump(2))

for 2 liter petrol pay 161.58 rupees
161.58

In [4]:
a = petrol_pump(2)

for 2 liter petrol pay 161.58 rupees

In [5]:
#now working for 2nd task
#sum of 10 numbers 
total=0
for petrol in range(1,11):
    rupees = petrol*80.79
    print("for ",petrol,"liters of petrol pay ",rupees)
total = total + rupees
print("final total amount",total,"rs")

for  1 liters of petrol pay  80.79
for  2 liters of petrol pay  161.58
for  3 liters of petrol pay  242.37
for  4 liters of petrol pay  323.16
for  5 liters of petrol pay  403.95000000000005
for  6 liters of petrol pay  484.74
for  7 liters of petrol pay  565.5300000000001
for  8 liters of petrol pay  646.32
for  9 liters of petrol pay  727.11
for  10 liters of petrol pay  807.9000000000001
final total amount 807.9000000000001 rs

In [9]:
#to round off the values
#sum of 10 numbers 
total=0
for petrol in range(1,11):
    rupees = petrol*80.79
    print("for",petrol,"liter pay",round(rupees),"rs")
total = total + rupees
print("final amount :--->",(round(rupees)),"rs")

for 1 liter pay 81 rs
for 2 liter pay 162 rs
for 3 liter pay 242 rs
for 4 liter pay 323 rs
for 5 liter pay 404 rs
for 6 liter pay 485 rs
for 7 liter pay 566 rs
for 8 liter pay 646 rs
for 9 liter pay 727 rs
for 10 liter pay 808 rs
final amount :---> 808 rs

In [10]:
#how to print 10 results on 1 page